{% assign features = site.data.common.features %}
{% assign nav = site.data.navigation.navigation %}
<div id="con-head" class="con-bg">
    <div class="con-content">
        <a href="#top">
            {% if page.lang == 'pl' %}
            <img src="{{ nav.logo.pl | relative_url }}" width="737" height="161" />
            {% else %}
            <img src="{{ nav.logo.en | relative_url }}" width="639" height="161" />
            {% endif %}
        </a>
        <span id="menu-button" class="fa-bars"></span>
        <div id="menu-container" class="mobile-hidden">
            <a href="{{ nav.home_url[page.lang] | relative_url }}">{{ nav.back_to_home[page.lang] }}</a>
            <a href="#agenda">{{ nav.agenda[page.lang] }}</a>
            {% if features.workshops_enabled %}
            <a href="#warsztaty">{{ nav.workshops[page.lang] }}</a>
            {% endif %}
            {% if features.lpi_enabled %}
            <a href="#lpi">{{ nav.lpi[page.lang] }}</a>
            {% endif %}
            <a href="#prelegenci">{{ nav.speakers[page.lang] }}</a>
            <a class="lang-switch" href="{{ nav.lang_agenda_url[page.lang] | relative_url }}">
                <img alt="" src="{{ nav.lang_flag[page.lang] | relative_url }}" width="300" height="188" />
                <span class="mobile-only">{{ nav.lang_text[page.lang] }}</span>
            </a>
        </div>
    </div>
</div>
