<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />


{% assign lang = page.lang | default: site.default_lang %}
{% assign meta = site.data.common.meta[lang] %}

<meta name="description" content="{{ meta.description }}" />
<meta name="keywords" content="{{ meta.keywords }}" />
<meta name="author" content="{{ meta.author }}" />

<meta name="base-url" content="{{ site.baseurl }}" />
<meta property="og:site_name" content="{{ meta.name }}" />
<meta property="og:locale" content="{{ meta.locale }}" />
<meta property="og:type" content="website" />
<meta property="og:title" content="{{ meta.title }}" />
<meta property="og:url" content="{{ site.url }}/" />
<meta property="og:description" content="{{ meta.description }}" />
<meta property="og:image" content="{{ '/img/logo-opengraph-pl.webp' | relative_url }}" />

<link rel="apple-touch-icon" sizes="180x180" href="{{ '/img/apple-touch-icon.png' | relative_url }}" />
<link rel="icon" type="image/png" sizes="32x32" href="{{ '/img/favicon-32x32.png' | relative_url }}" />
<link rel="icon" type="image/png" sizes="16x16" href="{{ '/img/favicon-16x16.png' | relative_url }}" />
<link rel="shortcut icon" type="image/x-icon" href="{{ '/img/favicon.ico' | relative_url }}" />

<link href="{{ '/assets/style.css' | relative_url }}" rel="stylesheet" type="text/css" />

{% if page.lang == 'en' %}
<link rel="preload" as="image" href="{{ '/img/logo-duze-en.webp' | relative_url }}" fetchpriority="high" />
{% else %}
<link rel="preload" as="image" href="{{ '/img/logo-duze-pl.webp' | relative_url }}" fetchpriority="high" />
{% endif %}

{% if page.layout == 'default' %}
<link rel="preload" as="image" href="{{ '/img/tla/1.webp' | relative_url }}" fetchpriority="high" />
<link rel="preload" as="image" href="{{ '/img/squares-empty.webp' | relative_url }}" />
<link rel="preload" as="image" href="{{ '/img/squares-facebook.webp' | relative_url }}" />
<link rel="preload" as="image" href="{{ '/img/squares-youtube.webp' | relative_url }}" />
<link rel="preload" as="image" href="{{ '/img/squares-twitter.webp' | relative_url }}" />
<link rel="preload" as="image" href="{{ '/img/squares-google-plus.webp' | relative_url }}" />
{% endif %}

<link rel="preconnect" href="https://scripts.simpleanalyticscdn.com" />

<title>{{ meta.title }}</title>
