{% assign about = site.data.about.about %}
<div id="con-about" class="con-bg">
    <span id="about" class="anchor-jump-link"></span>
    <div class="con-content">
        {% for section in about %}
        <div class="third">
            <img alt="{{ section.header[page.lang] | default: section.header.pl }}"
                src="{{ section.icon | relative_url }}" width="300" height="300" />
            <h2>{{ section.header[page.lang] | default: section.header.pl }}</h2>
            <p>{{ section.content[page.lang] | default: section.content.pl }}</p>
        </div>
        {% endfor %}
    </div>
</div>
