<div id="con-about" class="con-bg">
    <span id="about" class="anchor-jump-link"></span>
    <div class="con-content">
        <div class="third">
            <img alt="{{ t.about.p1.header }}" src="{{ '/img/ikony/coTo.webp' | relative_url }}" width="300" height="300" />
            <h2>{{ t.about.p1.header }}</h2>
            <p>{{ t.about.p1.content }}</p>
        </div>
        <div class="third">
            <img alt="{{ t.about.p2.header }}" src="{{ '/img/ikony/jakWyglada.webp' | relative_url }}" width="300" height="300" />
            <h2>{{ t.about.p2.header }}</h2>
            <p>{{ t.about.p2.content }}</p>
        </div>
        <div class="third">
            <img alt="{{ t.about.p3.header }}" src="{{ '/img/ikony/cel.webp' | relative_url }}" width="300" height="300" />
            <h2>{{ t.about.p3.header }}</h2>
            <p>{{ t.about.p3.content }}</p>
        </div>
    </div>
</div>
