{% assign navigation = site.data.navigation.navigation %}
{% assign labels = site.data.agenda.labels %}
<div id="con-agenda" class="con-bg">
    <span id="agenda" class="anchor-jump-link"></span>
    <div class="con-content">
        <h2 class="bg-text">Agenda</h2>
        <h2 class="spacer">&nbsp;</h2>
        <div id="agenda-sobota">
            {% assign days = "saturday,sunday" | split: "," %}
            {% for day in days %}
            {% assign agenda_items = site.data.agenda[day] %}
            {% assign agenda_info = site.data.agenda.days[day] %}
            <div class="half">
                <h3>
                    <span class="data">{{ agenda_info.date[page.lang] }}</span>
                    {{ agenda_info.day[page.lang] }}
                </h3>
                {% for item in agenda_items %}
                <div class="prelekcja">
                    <div class="godzina">{{ item.time }}</div>
                    <div class="opis">
                        <div class="tytul">
                            {{ item.title[page.lang] | default: item.title.pl }}
                            {% if item.lang %}<span class="lang">{{ item.lang }}</span>{% endif %}
                        </div>
                        {% if item.author %}<div class="autor">{{ item.author }}</div>{% endif %}
                    </div>
                </div>
                {% endfor %}
            </div>
            {% endfor %}
        </div>
        <div class="extended-link">
            <a href="{{ navigation.agenda_url[page.lang] | relative_url }}">
                {{ labels.extended_text[page.lang] }}
            </a>
        </div>
    </div>
</div>
