{% assign hero = site.data.hero.hero %}
<div id="con-description" class="con-bg">
    <span id="top" class="anchor-jump-link"></span>
    <div class="main-bg-container" style="background-image: url('{{ hero.bg | relative_url }}')"></div>
    <div class="con-content">
        <div class="social">
            <span>
                <img src="{{ 'img/squares-empty.webp' | relative_url }}" width="472" height="457" />
            </span>
            <span>
                <img src="{{ 'img/squares-empty.webp' | relative_url }}" width="472" height="457" />
            </span>
        </div>
        <div id="logo-container">
            <img alt="14. Sesja Linuksowa"
                src="{{ hero.logo[page.lang] | default: hero.logo.pl | relative_url }}"
                width="{{ hero.logo_width[page.lang] | default: hero.logo_width.pl }}" />
        </div>
        <div class="social">
            {% for social in hero.social %}
            {% if social.url %}
            <a href="{{ social.url }}" target="_blank" rel="noopener noreferrer">
                <img alt="" src="{{ social.icon | relative_url }}" width="472" height="457" />
            </a>
            {% endif %}
            {% endfor %}
        </div>
    </div>
</div>
