{% assign organizers = site.data.organizers.organizers %}
{% assign nav = site.data.navigation.navigation %}
{% assign edition = site.edition %}
{% assign bgs = site.data.common.backgrounds %}
{% assign section_bg = bgs.editions[edition].organizers | default: bgs.default.organizers %}

<div id="con-organizatorzy" class="con-bg" style="background-color: {{ section_bg }};">
    <span id="organizatorzy" class="anchor-jump-link"></span>
    <div class="con-content">
        <h2 class="bg-text">{{ nav.orgs[page.lang] | default: nav.orgs.pl }}</h2>
        <h2 class="spacer">&nbsp;</h2>
        <div class="loga">
            <div class="logo-asi">
                <a href="https://asi.wroclaw.pl" target="_blank" rel="noopener noreferrer">
                    <img src="{{ '/img/loga/logo-asi.webp' | relative_url }}" />
                </a>
            </div>
        </div>
        <div class="loga organizatorzy">
            {% for organizer in organizers %}
            <a href="{{ organizer.url }}" target="_blank" rel="noopener noreferrer">
                <img src="{{ organizer.logo | relative_url }}" alt="{{ organizer.name }}" />
            </a>
            {% endfor %}
        </div>
    </div>
</div>
