<div id="con-organizatorzy" class="con-bg">
    <span id="organizatorzy" class="anchor-jump-link"></span>
    <div class="con-content">
        <h2 class="bg-text">{{ t.navigation.orgs }}</h2>
        <h2 class="spacer">&nbsp;</h2>
        <div class="loga">
            <div class="logo-asi">
                <a href="https://asi.wroclaw.pl" target="_blank" rel="noopener noreferrer">
                    <img src="{{ '/img/loga/logo-asi.webp' | relative_url }}" />
                </a>
            </div>
        </div>
        <div class="loga organizatorzy">
            <a href="https://www.pwr.edu.pl" target="_blank" rel="noopener noreferrer">
                <img src="{{ '/img/loga/logo-pwr.webp' | relative_url }}" />
            </a>
            <a href="https://wireless-group.pwr.wroc.pl/" target="_blank" rel="noopener noreferrer">
                <img src="{{ '/img/loga/logo-wg.webp' | relative_url }}" />
            </a>
            <a href="https://wireless-group.pwr.wroc.pl/" target="_blank" rel="noopener noreferrer">
                <img src="{{ '/img/loga/logo-nomad.webp' | relative_url }}" />
            </a>
        </div>
    </div>
</div>
