<div id="con-patroni" class="con-bg">
  <span id="patroni" class="anchor-jump-link"></span>
  <div class="con-content">
    <h2 class="bg-text">{{ t.navigation.patrons }}</h2>
    <h2 class="spacer">&nbsp;</h2>
    <div class="loga patroni">
      <a href="https://programistamag.pl" target="_blank" rel="noopener noreferrer">
        <img src="{{ '/img/loga/patron-programista.webp' | relative_url }}" width="400" />
      </a>
      <a href="https://4programmers.net" target="_blank" rel="noopener noreferrer">
        <img src="{{ '/img/loga/patron-4p.svg' | relative_url }}" width="400" />
      </a>
      <a href="https://www.dobreprogramy.pl" target="_blank" rel="noopener noreferrer">
        <img src="{{ '/img/loga/patron-dobreprogramy.webp' | relative_url }}" width="400" />
      </a>
      <a href="https://wroclaw.jug.pl" target="_blank" rel="noopener noreferrer">
        <img src="{{ '/img/loga/patron-jug.svg' | relative_url }}" height="125" />
      </a>
    </div>
  </div>
</div>
