<div id="con-sponsorzy" class="con-bg">
    <span id="sponsorzy" class="anchor-jump-link"></span>
    <div class="con-content">
        <h2 class="bg-text">{{ t.navigation.sponsors }}</h2>
        <h2 class="spacer">&nbsp;</h2>
        <div class="loga">
            <div class="logo-nokia">
                <a href="https://nokiawroclaw.pl" target="_blank" rel="noopener noreferrer">
                    <img src="{{ '/img/loga/logo-nokia.svg' | relative_url }}" width="500" />
                </a>
            </div>
            <div class="logo-droptica">
                <a href="https://www.droptica.pl" target="_blank" rel="noopener noreferrer">
                    <img src="{{ '/img/loga/logo_droptica.svg' | relative_url }}" width="600" />
                </a>
            </div>
            <div class="logo-semihalf">
                <a href="https://www.semihalf.com/" target="_blank" rel="noopener noreferrer">
                    <img src="{{ '/img/loga/semihalf.webp' | relative_url }}" width="500" />
                </a>
            </div>
            <div class="logo-antmicro">
                <a href="https://antmicro.com" target="_blank" rel="noopener noreferrer">
                    <img src="{{ '/img/loga/logo_antmicro.svg' | relative_url }}" width="600" />
                </a>
            </div>
            <div class="logo-globallogic">
                <a href="https://www.globallogic.com/pl/" target="_blank" rel="noopener noreferrer">
                    <img src="{{ '/img/loga/logo-globallogic.webp' | relative_url }}" width="500" />
                </a>
            </div>
        </div>
    </div>
</div>
