<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="{{ page.lang | default: site.default_lang }}">

<head>
    {% include head.html %}
</head>

<body>
    {% include index/navigation.html %}
    {% include index/hero.html %}
    {% include index/about.html %}
    {% include index/live.html %}
    {% include index/agenda.html %}
    {% include workshops.html %}
    {% include lpi.html %}
    {% include speakers.html %}
    {% include index/location.html %}
    {% include index/map.html %}
    {% include index/sponsorship.html %}
    {% include index/sponsors.html %}
    {% include index/patrons.html %}
    {% include index/organizers.html %}
    {% include index/contact.html %}
    {% include footer.html %}
    {% include scripts.html %}
</body>

</html>
